# APP

STATIC_CDN_DOMAIN=https://kolacredit.com
SITE_DOMAIN=https://kolacredit.com
USER_SITE_DOMAIN=https://app.kolacredit.com
API_DOMAIN=http://localhost:8000

#DB
DB_PORT=5431
DB_NAME=allawee-core-db
DB_USERNAME=postgres
DB_PASSWORD=secret

#MONGODB
MONGODB_URL=mongodb://127.0.0.1:27017/allawee-learn-db

# Messaging
RABBIT_MQ_URL=amqp://127.0.0.1:5672

# Paystack
PAYSTACK_URI=
FLUTTERWAVE_SECRET_KEY=

# VtPass
VTPASS_USERNAME=
VTPASS_PASSWORD=

# Paystack
PAYSTACK_SECRET_KEY=secret


JWT_SECRET=secret
